body {
  background-color: #E2DAFE;


}

::-webkit-scrollbar {
  display: none;
}

.grey-text {
  color: #AEB2BA;
}

.red {
  color: red;
  padding: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;

  @media (max-width:1024px) {
    gap: 40%;
  }

  @media (max-width:425px) {
    padding: 10px;
  }
}

.title {
  font-size: 32px;
  font-weight: bolder;
  padding: 12px;
  text-align: center;

  @media (max-width:1024px) {
    padding: 5px;
    font-size: 20px;
  }

  @media (max-width:425px) {
    font-size: 10px;
  }
}

.clicked-title {
  color: white;
}

.nav-item {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media (max-width:768px) {
    gap: 0px;
  }
}

.talk-button {
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  padding: 10px 10px;
  border-radius: 100px;
  border: 1px black;

  @media (max-width:768px) {
    display: none;
  }

  @media (max-width:1024px) {
    padding: 5px;
    font-size: 14px;
  }
}

.menu-button {
  border: 1px black;
  background-color: transparent;
}

.menu-img {
  width: 58px;
  height: 40px;

  @media (max-width:1024px) {
    width: 28px;
    height: 18px;
  }

  @media (max-width:425px) {
    display: none;
  }
}


/* Menu  */
.menu {
  height: 100vh;
  position: fixed;
  z-index: 2;
  /* background-color: rgba(0, 0, 0, 0.072); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}

.menu-box {
  background-color: #030712;
  color: white;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 80%;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-right: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu-items {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.menu-buttons {
  width: 5%;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  color: white;
}

.cancel-modal {
  width: 10%;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 20px;
  padding: 10px;
}

/* Landing  */

.landing {
  background-color: #E2DAFE;
  padding: 30px;

  @media (max-width:768px) {
    padding: 10px;
  }
}

.landing-bg {
  background: rgb(237, 232, 255);
  background: linear-gradient(173deg, rgba(237, 232, 255, 1) 53%, rgba(233, 212, 255, 1) 100%);
  padding-bottom: -1px;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width:425px) {
    background: none;
  }
}

.intro {
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width:425px) {
    padding: 10px;
  }

  @media (max-width:425px) {
    display: flex;
    flex-direction: column;
  }
}

.intro-img {
  padding-bottom: -5px;
  padding-left: 30px;
}

.introImg {
  width: 700px;

  @media(max-width: 1024px) {
    width: 300px;
  }

  @media (max-width:425px) {
    margin-top: 200px;
  }
}

.intro-line {
  padding: 40px;

  @media (max-width:425px) {
    margin-top: -570px;
    padding: 20px;
  }

}

.welcome {
  font-size: 90px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;


  @media (max-width:1440px) {
    font-size: 60px;
  }

  @media(max-width: 1024px) {
    font-size: 40px;
  }

  @media (max-width:768px) {
    padding: 5px;
    font-size: 25px;
  }
}

.landing-tag {
  margin-top: 20px;

  @media (max-width:768px) {
    flex-direction: column;
  }
}

.tag-line {
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;

  @media (max-width:1440px) {
    font-size: 25px;
    padding: 10px;
  }

  @media(max-width: 1024px) {
    font-size: 15px;
    padding: 2px;
    margin-top: -7px;
  }
}

.dot {
  padding: 10px;
  padding-top: 20px;

  @media(max-width: 1024px) {
    padding: 2px;
  }

  @media (max-width:425px) {
    display: none;
  }
}

.talk {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 900;
  padding: 5px 50px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width:1440px) {
    padding: 3px 30px;
    font-size: 15px;
  }

  @media (max-width:425px) {
    padding: 2px 20px;
    font-size: 10px;
  }
}

.q1-bg {
  background-color: #030712;
  color: white;
  margin-top: 80px;
  padding: 50px;
}

.quote {
  font-size: 104px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;

  @media (max-width:768px) {
    font-size: 58px;
  }
}

.q-info {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 10px;

  @media (max-width:768px) {
    font-size: 25px;
  }
}

.q2-bg {
  padding: 50px;
}

/* Login  */
.login {
  padding: 20px;
  display: flex;
  flex-direction: row;

  @media (max-width:768px) {
    justify-content: center;
  }
}

.banner-img {
  width: 50%;
  height: 95vh;

  @media (max-width:768px) {
    display: none;
  }
}

.login-input {
  width: 50%;
  padding: 20px;
  text-align: center;

  @media (max-width:768px) {
    width: 100%;
  }
}

.login-title {
  font-size: 26px;
  font-weight: bold;
}

.login-input-box {
  padding: 130px 10px 130px 10px;

  @media (max-width:768px) {
    padding: 90px 0px 30px 0px;
  }

}

.login-welcome {
  font-size: 48px;
  font-family: serif;
  font-weight: 800px;
}

.login-intro {
  font-size: 16px;
  font-family: sans-serif;
}

.login-form {
  padding: 14px 148px 27px 148px;

  @media (max-width:425px) {
    padding: 50px 0px 50px 0px;
  }
}

.lf-type {
  font-size: 16px;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
}

.lf-input {
  width: 95%;
  font-size: 16px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F5F7FA;
  border: 1px;

  @media (max-width:425px) {
    width: 85%;
    padding: 15px;
  }
}

.remember-me {
  font-size: 16px;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;

  @media (max-width:768px) {
    margin-top: 20px;
  }

}

.forgot-pass {
  background-color: transparent;
  border: 1px grey;
  font-size: 16px;
  color: #3D3D3D;
  font-style: italic;
}

.login-button {
  background-color: black;
  color: white;
  font-style: italic;
  font-size: 16px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px;
  margin-top: 20px;
}

.sign-up-button {
  background-color: transparent;
  color: black;
  font-style: italic;
  font-size: 16px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 20px;
}

/* Sign up  */
.signup-input-box {
  padding: 10px 10px 0px 10px;


  @media (max-width:768px) {
    padding: 90px 0px 30px 0px;
  }
}

.signup-form {
  padding: 14px 148px 27px 148px;

  @media (max-width:425px) {
    padding: 50px 0px 50px 0px;
  }
}

.sf-type {
  font-size: 16px;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
}

.sf-input {
  width: 95%;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  background-color: #F5F7FA;
  border: 1px;

  @media (max-width:425px) {
    width: 85%;
    padding: 15px;
  }
}


/* Home  */
.home {
  padding: 10px;
}

.home-head {
  margin-top: 20px;
  width: 100%;
  padding: 50px 30px 50px 30px;
  border-top: 1px solid rgba(158, 158, 158, 0.704);
}

.hh1 {
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  text-align: center;
  word-spacing: 5px;
}

.hh2 {
  font-size: 104px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}